<div class="posts-lists">
    <h2 class="posts-lists-header">Blog posts</h2>
    <p></p>

    <ul class="posts-lists-posts">
        {% for post in site.posts %}
            {% if post.type == "blog"%}
                <li>
                    
                    {% if post.useimage %}
                    <div class="posts-list-img-container">
                        <image style="max-width: 300px;" src="{{site.url}}{{post.useimage}}"></image>
                    </div>
                    {% endif %}
                    
                    <h3>
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.title }}
                        <small>{{ post.date | date_to_string }}</small>
                    </a>
                    </h3>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>