<div class="posts-lists">
    {% if include.listtype == "game" %}
        <h2 class="posts-lists-header">Games</h2>
    {% endif %}

    {% if include.listtype == "tech_demo" %}
        <h2 class="posts-lists-header">Tech Demos</h2>
    {% endif %}

    <p></p>

    <ul class="posts-lists-posts">
        {% for post in site.posts %}
        
            {% if include.listtype == "game" and post.type == "game" %}
                {% include post_list_element.html %}

            {% elsif include.listtype == "tech_demo" and post.type == "tech_demo" %}
                {% include post_list_element.html %}

            {% endif %}

        {% endfor %}
    </ul>
</div>