<div class="posts-lists">
    <h2>Project Write Ups</h2>
    <ul class="posts-lists-posts">
        {% for post in site.posts %}
            {% if post.type == "project" %}
                <li>
                    <h3>
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        {{ post.title }}
                        <small>{{ post.date | date_to_string }}</small>
                    </a>
                    </h3>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>